<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h1> Welcome to About Page!</h1>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
	
	      <!-- <li class="nav-item">
	        <a class="nav-link" routerLink="/splash">Home</a>
        </li> -->
        <li class="nav-item">
	        <a class="nav-link" routerLink="/characters">Go Back</a>
        </li>
       
	    </ul>
	  </div>
    </nav>
    <div>
        <h4>Iron Man</h4>
        <p>Name: Tony Stark</p>
        <img src="https://i.annihil.us/u/prod/marvel/i/mg/6/a0/4bb860a94276f/detail.jpg" style="width:40%">
        <p>Appeared on:</p>
        <table>
		  <tr>
		    <th>Comics</th>
		    <th>Series</th>
		    <th>Events</th>
		  </tr>
		  <tr>
		    <td>Amazing Spider-Man (1999) #522</td>
		    <td>Amazing Spider-Man (1999 - 2013)</td>
		    <td>Civil War</td>
		  </tr>
		  <tr>
		    <td>Amazing Spider-Man (1999) #524</td>
		    <td>AMAZING SPIDER-MAN VOL. 10: NEW AVENGERS TPB (2005)</td>
		    <td>Age of Ultron</td>
		  </tr>
		  <tr>
		    <td>Amazing Spider-Man (1999) #528-531</td>
		    <td>Black Goliath (1976)</td>
		    <td>House of M</td>
		  </tr>
		  <tr>
		    <td>AMAZING SPIDER-MAN VOL. 10: NEW AVENGERS TPB (Trade Paperback)</td>
		    <td>Captain America (1968 - 1996)</td>
		    <td>Other - Evolve or Die</td>
		  </tr>
		  <tr>
		    <td>Black Goliath (1976) #4</td>
		    <td>Captain America (2002 - 2004)</td>
		    <td>Avengers Disassembled</td>
		  </tr>
		  <tr>
		    <td>Captain America (1968) #133, 136</td>
		    <td>Captain Marvel (2008)</td>
		    <td>Siege</td>
		  </tr>
		  <tr>
		    <td>Captain Marvel (2008) #4</td>
		    <td>Fantastic Five (2007)</td>
		    <td>Infinity War</td>
		  </tr>
		  <tr>
		    <td>Fantastic Five (2007) #5</td>
		    <td>House of M: Fantastic Four/Iron Man (2006)</td>
		    <td></td>
		  </tr>
		  <tr>
		    <td>House of M: Fantastic Four/Iron Man (Trade Paperback)</td>
		    <td>Indestructible Hulk (2012 - 2014)</td>
		    <td></td>
		  </tr>
		  <tr>
		    <td>Indestructible Hulk (2012) #2</td>
		    <td>International Iron Man (2017)</td>
		    <td></td>
		  </tr>
		  <tr>
		    <td>Iron Man 2020 (1994) #1</td>
		    <td>Iron Man 2020 (1994)</td>
		    <td></td>
		  </tr>
		  <tr>
		    <td>Iron Man by Design (2010) #1</td>
		    <td>Iron Man by Design (2010)</td>
		    <td></td>
		  </tr>
		  <tr>
		    <td>Iron Man: Extremis Director's Cut (2010) #1</td>
		    <td>Iron Man: Extremis Director's Cut (2010)</td>
		    <td></td>
		  </tr>
		  <tr>
		    <td></td>
		    <td>Marvel Two-in-One (1974 - 1983)</td>
		    <td></td>
		  </tr>
		  <tr>
		    <td></td>
		    <td>New Avengers (2013 - 2015)</td>
		    <td></td>
		  </tr>
		  <tr>
		    <td></td>
		    <td>New Warriors (2007 - 2009)</td>
		    <td></td>
		  </tr>	  
		  <tr>
		    <td></td>
		    <td>Sentry: Fallen Sun (2010)</td>
		    <td></td>
		  </tr>
		 
		  
		</table>
    </div>
    

</body>
</html>
