<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h1> Welcome to About Page!</h1>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
	
	      <!-- <li class="nav-item">
	        <a class="nav-link" routerLink="/splash">Home</a>
        </li> -->
        <li class="nav-item">
	        <a class="nav-link" routerLink="/authors">Go Back</a>
        </li>
	      
	    </ul>
	  </div>
    </nav>
    <div>
        <h3>Dan Slott</h3>
        <p>Date of birth: July 3, 1967</p>
        <p>American comic book writer, who is the current writer on Marvel Comics' Tony Stark: Iron Man and Fantastic Four. He is best known for his long run on The Amazing Spider-Man, as well as Arkham Asylum: Living Hell, She-Hulk, The Superior Spider-Man, The Mighty Avengers</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/10.12.12DanSlottByLuigiNovi1.jpg" style="width:400px">
    
    </div>

