<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h1>!</h1>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item ">
			  <a class="nav-link" routerLink="/characters">Characters</a>
		  </li>
		  <li class="nav-item ">
			<a class="nav-link" routerLink="/issues">Issues</a>
		  </li>
		  <li class="nav-item ">
			<a class="nav-link" routerLink="/authors">Authors</a>
		  </li>
		  <li class="nav-item ">
			<a class="nav-link" routerLink="/about">About</a>
		  </li>
	    </ul>
	  </div>
	  <div>
		  <form class="form-inline">
		    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		  </form>
	  </div>
	</nav>


	<!-- <div class="jumbotron text-center" style="margin-bottom:5; height: 620px">
	  <div class="row">
	  <div class="col-sm-6">
	     <div>
	     	<h2>Your Chosen Author: {{author.name}}</h2>
	     	<div align="center" class="box">
	     	   <img src={{author.image}}>
	     	</div>
	     	<div align="center" style="margin:auto; width:60%">
		     	<br>
		     	<p align="left">{{author.name}} is born on {{author.birth}} in {{author.hometown}}, {{author.country}}</p>
		     	<p align="left">{{author.deck}}</p>
		     	<p align="left">{{author.aliases}}</p>
	     	</div>

	     </div>
	  </div>
	  	<div class="col-sm-6">
			<div>
			   <p align="left">{{author.description}}</p>
			</div>
		</div>

	  </div>
	</div> -->

<div id="MainCard" style="float:left;">
	<mat-card>
		<div  align="center">
			<mat-card-title><p id="authors-header-name">{{author.name}}</p></mat-card-title>
			<div *ngIf="author.aliases">
			  <mat-card-subtitle><h2>{{'Aliases: ' +author.aliases}}</h2></mat-card-subtitle>
			</div>
		</div>
			<div class="box" align="center">
				<img class="image" mat-card-img src={{author.image}}>
			</div>
		<mat-card-content>
			<br>
			<p>
				{{author.deck}}
			</p>
		</mat-card-content>
	</mat-card>
 </div>


<div id ="Expansion" style="float:right;" >
<button id="authors-openAll" mat-flat-button color="primary" (click)="openAllPanels()"><b>Open Panels</b></button>
<button id="authors-closeAll" mat-flat-button color="primary" (click)="closeAllPanels()"><b>Close Panels</b></button>



  <mat-accordion #accordion="matAccordion" [multi]="true">

    <mat-expansion-panel id="author-Characters-expand">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Characters
        </mat-panel-title>
        <mat-panel-description id="author-char-desc">
          List of Characters Created By the Author
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item id="author-Characters-description" role="listitem" *ngFor="let element of author.characters" (click)="detailCharacter(element)">{{element}}
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel id="author-info-expand">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal Details
        </mat-panel-title>
        <mat-panel-description id="author-info-desc">
          Detailed Information of the Author
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem"> {{'Country of Origin: ' + author.country}}<mat-divider></mat-divider></mat-list-item>
		<mat-list-item role="listitem"> {{'Hometown: ' + author.hometown}}<mat-divider></mat-divider></mat-list-item>
		<mat-list-item role="listitem"> {{'Birth: ' + author.birth}}<mat-divider></mat-divider></mat-list-item>
		<mat-list-item role="listitem"> {{'Death: ' + author.death}}<mat-divider></mat-divider></mat-list-item>
	  </mat-list>
    </mat-card-content>
    </mat-expansion-panel>

  <mat-expansion-panel id="author-Description-expand">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Description
        </mat-panel-title>
        <mat-panel-description id="author-desc-desc">
          Detailed Description of Author
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p id="author-Description-description">{{author.description}}</p>
    </mat-expansion-panel>

    <mat-expansion-panel id="author-Issues-expand">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Issues
        </mat-panel-title>
        <mat-panel-description id="author-issue-desc">
          List of Issues Affliated By the Author
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item id="author-Issues-description" role="listitem" *ngFor="let element of author.issues;" (click)="detailIssue(element)">{{element}}
          <mat-divider></mat-divider>
        </mat-list-item>

      </mat-list>
    </mat-expansion-panel>

  </mat-accordion>

</div>

</body>
</html>


