<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h1> Welcome to About Page!</h1>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
	
	      <!-- <li class="nav-item">
	        <a class="nav-link" routerLink="/splash">Home</a>
		  </li> -->
		  <li class="nav-item">
	        <a class="nav-link" routerLink="/issues">Main</a>
          </li>
		  <li class="nav-item">
	        <a class="nav-link" routerLink="/issues/issue1">Issue1</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" routerLink="/issues/issue2">Issue2</a>
	      </li>
	      <li class="nav-item">
			<a class="nav-link" routerLink="/issues/issue3">Issue3</a>
	      </li>
	    </ul>
	  </div>
    </nav>
    <div>
<!--         <h1>Welcome to the Issue3 Page</h1>
 -->    <p>Title: The Amazing Spider-Man (2015) #13</p>
        <p>Issue Number: 13</p>
    	<p>description: POWER PLAY CONTINUES! Things aren’t going well between the Amazing Spider-Man and the Invincible Iron Man and their conflict is opening the door for Regent and his plan against our heroes! Now that Regent has started imprisoning HEROES and stealing their powers things have gone from bad to worse.</p>
        <p>Date: 2016-06-01 00:00:00-0400</p>
        <p>Creators:</p>
        <table>
		  <tr>
		    <th>Name</th>
		    <th>Role</th>
		  </tr>
		  <tr>
		    <td>Giuseppe Camuncoli</td>
		    <td>Penciller</td>
		  </tr>
		  <tr>
		    <td>Nick Lowe</td>
		    <td>Editor</td>
		  </tr>
		  <tr>
		    <td>Alex Ross</td>
		    <td>Penciller (cover)</td>
		  </tr>
		  <tr>
		    <td>Dan Slott</td>
		    <td>Writer</td>
		  </tr>
		</table>
		
		<p>Characters: Iron Man, Spider-Man</p>
    </div>
    

