<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h1> Welcome to About Page!</h1>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
	
	     <!--  <li class="nav-item">
	        <a class="nav-link" routerLink="/splash">Home</a>
		  </li> -->
		  <li class="nav-item">
	        <a class="nav-link" routerLink="/issues">Main</a>
          </li>
		  <li class="nav-item">
	        <a class="nav-link" routerLink="/issues/issue1">Issue1</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" routerLink="/issues/issue2">Issue2</a>
	      </li>
	      <li class="nav-item">
			<a class="nav-link" routerLink="/issues/issue3">Issue3</a>
	      </li>
	    </ul>
	  </div>
    </nav>
    <div>
<!--         <h1>Welcome to the Issue2 Page</h1>
 -->    <p>Title: All-New Iron Manual (2008) #1</p>
        <p>Issue Number: 1</p>
        <p>These are the chronicles of Tony Stark: the playboy, the genius inventor, the philanthropist, the director of S.H.I.E.L.D., the futurist, the hero. This Handbook is the definitive resource to the world of Iron Man, featuring Tony's closest allies (Happy and Pepper Hogan, War Machine, the Order) and deadliest foes (Justin Hammer, Mandarin, Obadiah Stane)! Includes a complete gallery of the Iron Man armors, plus all-new schematics of key armors and the S.H.I.E.L.D. Helicarrier!</p>
        <p>Modified: 2008-05-14 00:00:00-0400</p>
        <p>Creators:</p>
        <table>
		  <tr>
		    <th>Name</th>
		    <th>Role</th>
		  </tr>
		  <tr>
		    <td>Chad Anderson</td>
		    <td>Writer</td>
		  </tr>
		  <tr>
		    <td>Ronald Byrd</td>
		    <td>Writer</td>
		  </tr>
		  <tr>
		    <td>Anthony Flamini</td>
		    <td>Writer</td>
		  </tr>
		  <tr>
		    <td>Michael Hoskin</td>
		    <td>Writer</td>
		  </tr>
		  <tr>
		    <td>Mark OEnglish</td>
		    <td>Writer</td>
		  </tr>
		  <tr>
		    <td>Jacob Rougemont</td>
		    <td>Writer</td>
		  </tr>
		  <tr>
		    <td>Al Sjoerdsma</td>
		    <td>Writer</td>
		  </tr>
		  <tr>
		    <td>David Wiltfong</td>
		    <td>Writer</td>
		  </tr>
		  <tr>
		    <td>Eliot Brown</td>
		    <td>Artist</td>
		  </tr>
		  <tr>
		    <td>Jeffrey Huet</td>
		    <td>Inker</td>
		  </tr>
		  <tr>
		    <td>Greg Land</td>
		    <td>Penciller (cover)</td>
		  </tr>
		</table>
		
		<p>Characters: Iron Man</p>
    </div>
    

