<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>

<!-- CSS Stuff -->
<body>
	<h1> Welcome to About Page!</h1>
	<app-navigation-bar (searched)="search($event)"></app-navigation-bar>
    <div class="about-section">
  		<h3>About Us Page</h3>
      	<p>This site collects information for popular comics such as Marvel, DC, etc.</p>
      	<p>The users can search by name, character, series, release time, and artist to find comics they want.</p>
      	<p>Intended users are all comic lovers.</p>
      	<p>Website Framework: Angular with Bootstrap CSS</p>
      	<a href="https://github.com/chrisjoswin/EE461L_Project" target="_blank">Github Repo URL</a>
	<p>Number of Commits we have on GitHub: {{numCommits}}  </p>
	<p> If number of commits is zero, please refresh</p>
		<p>Number of Issues we have on GitHub: {{numIssues}}</p>

	</div>

	<h2 style="text-align:center">Our Team</h2>
  <app-developer *ngFor="let developer of developers" [info]="developer"></app-developer>

</body>
</html>
