<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h1> Welcome to Splash Page!</h1>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a id="home-nav" class="navbar-brand" href="#">Comic Book DB</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item ">
			  <a id="char-nav" class="nav-link" routerLink="/characters">Characters</a>
		  </li>
		  <li class="nav-item ">
			<a id="issue-nav" class="nav-link" routerLink="/issues">Issues</a>
		  </li>
		  <li class="nav-item ">
			<a id="author-nav" class="nav-link" routerLink="/authors">Authors</a>
		  </li>
		  <li class="nav-item ">
			<a id="about-nav" class="nav-link" routerLink="/about">About</a>
		  </li>
	    </ul>
	  </div>
	  <div>
		  <form class="form-inline">
		    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		  </form>
	  </div>
	</nav>
	<div class="jumbotron text-center" style="margin-bottom:5; height: 620px">
	  <div class="row">
		<div class="col-sm-6">
			<div style="margin-top:375px">
	  		   <h1 align="center">Welcome to Internet Comic Database (ICDb)! </h1>
			   <p id="hey">Click on the navbar button to start looking up your desired comics!</p>
			</div>
		</div>
		<div class="col-sm-6">
		  <br><br>
	      <img src="https://www.posteremporium.com/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/1/5/159942.jpg">
	      <br>
	    </div>
	  </div>
	</div>
	
	
	<!-- carousel -->
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  	<ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  	</ol>
	  	<div class="carousel-inner">
	    	<div class="carousel-item active">
	      	<img class="d-block w-100" src="https://i.annihil.us/u/prod/marvel/i/mg/6/b0/5a85e7930cd17/clean.jpg" alt="Captain America">
		      	<div class="carousel-caption d-none d-md-block">
	    			<h5 style="background-color:black;">Captain America</h5>
	    			<p style="background-color:black;">Adventures of Captain America (1991) #2</p>
		    	</div>
		    </div>
	    <div class="carousel-item">
	     	<img class="d-block w-100" src="https://i.annihil.us/u/prod/marvel/i/mg/d/80/574371c927322/clean.jpg" alt="Spider-Man">
				<div class="carousel-caption d-none d-md-block">
	    			<h5 style="background-color:black;">Spider Man</h5>
	    			<p style="background-color:black;">The Amazing Spider-Man (2015) #13</p>
		    	</div>
				    
	    </div>
	    <div class="carousel-item">
	      	<img class="d-block w-100" src="https://i.annihil.us/u/prod/marvel/i/mg/2/a0/5cd4668dcedcb/clean.jpg" alt="Iron Man">
	    		<div class="carousel-caption d-none d-md-block">
	    			<h5 style="background-color:black;">Iron Man</h5>
	    			<p style="background-color:black;">Marvel Tales: Iron Man (2019) #1</p>
		    	</div>
	    </div>
	  </div>
	  		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    		<span class="sr-only">Previous</span>
	  		</a>
	  		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
	    		<span class="sr-only">Next</span>
	  		</a>
</div>

</body>
</html>
