.nav-item{
    padding:2px;
    margin-left: 7px;
}

#carouselExampleIndicators{
	margin: 0 auto;
	width: 450px;
	background-color: Grey;
}

h3{
	text-align: center
}

#hey{
	text-align: center
}

.carousel-caption d-none d-md-block{
	color: black
}

#myVideo {
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.video {
	position: absolute;
	bottom: 0px;
	alignment: center;
	background: rgba(0,0,0,0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
} 

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

i {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f1f1f1;
	text-align: center;
}

.footer-bottom {
	text-align: center;
	background-color: DimGrey;
}

