<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h1>!</h1>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item ">
			  <a class="nav-link" routerLink="/characters">Characters</a>
		  </li>
		  <li class="nav-item ">
			<a class="nav-link" routerLink="/issues">Issues</a>
		  </li>
		  <li class="nav-item ">
			<a class="nav-link" routerLink="/authors">Authors</a>
		  </li>
		  <li class="nav-item ">
			<a class="nav-link" routerLink="/about">About</a>
		  </li>
	    </ul>
	  </div>
	   <div>
		  <form class="form-inline">
		    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		  </form>
	  </div>
	</nav>

	<!-- <div class="jumbotron text-center" style="margin-bottom:5; height: 620px">
	  <div class="row">
	  <div class="col-sm-6">
	     <div>
	     	<h2>Your Chosen Issue: {{issue.name}}</h2>
	     	<div align="center" class="box">
	     	   <img src={{issue.image}}>
	     	</div>
	     	<div align="center" style="margin:auto; width:60%">
		     	<br>
		     	<p align="left">{{issue.name}} is issued on {{issue.cover_date}} in {{issue.series}}</p>
	     	</div>

	     </div>
	  </div>
	  	<div class="col-sm-6">
			<div>
			   <p align="left">{{issue.description}}</p>
			</div>
		</div>

	  </div>
	</div> -->


	 <div id="Card" style="float:left;">
		<mat-card class="example-card" >
		  <div align="center">
			<mat-card-title> <h1 id="issue-header-name" >{{issue.name}}</h1></mat-card-title>
			<mat-card-subtitle><h3>{{'Issue Series: '+ issue.series}}</h3></mat-card-subtitle>
		  </div>
		  <div class="box" align="center">
		     <img class="image" mat-card-img src={{issue.image}} >
  		  </div>
		  <mat-card-content>
			<br>
			<p> {{'Cover Date: '+ issue.cover_date}}</p>
		  </mat-card-content>

		</mat-card>
	  </div>

	  <div id ="Expansion" style="float:right;" >
	    <button id="issues-openAll" mat-flat-button color="primary" (click)="openAllPanels()"><b>Open Panels</b></button>
		<button  id="issues-closeAll" mat-flat-button color="primary" (click)="closeAllPanels()"><b>Close Panels</b></button>

  		<mat-accordion #accordion="matAccordion" [multi]="true">
			<mat-expansion-panel  id="issue-desc-panel" >
				<mat-expansion-panel-header>
				  <mat-panel-title>
					Description
				  </mat-panel-title>
				  <mat-panel-description id="issue-desc-desc" >
					Detailed Description of Issue
				  </mat-panel-description>
				</mat-expansion-panel-header>
				<p >{{issue.description}}</p>
			  </mat-expansion-panel>

			<mat-expansion-panel id="issue-char-panel" (opened)="panelCharOpenState = true" (closed)="panelCharOpenState = false" >
				<mat-expansion-panel-header >
				  <mat-panel-title id="issue-char-title">
					Characters
				  </mat-panel-title>
				  <mat-panel-description id="issue-char-desc">
					{{panelCharOpenState ? 'Click On a Character to Learn More' : 'List of Characters Affiliated'}}
				  </mat-panel-description>
				</mat-expansion-panel-header>
				<mat-list role="list">
					<mat-list-item role="listitem" *ngFor="let element of issue.character_credits;" (click)="detailCharacter(element)">{{element}}
						<mat-divider></mat-divider>
					</mat-list-item>
				</mat-list>
			  </mat-expansion-panel>


		  <mat-expansion-panel id="issue-author-panel" (opened)="panelAuthorOpenState = true" (closed)="panelAuthorOpenState = false">
			<mat-expansion-panel-header  >
			  <mat-panel-title>
				Authors
			  </mat-panel-title>
			  <mat-panel-description id="issue-author-desc">
				{{panelAuthorOpenState ? 'Click On an Author to Learn More' : 'List of Authors that Contributed'}}
			  </mat-panel-description>
			</mat-expansion-panel-header>
			<mat-list role="list">
				<mat-list-item role="listitem" *ngFor="let element of issue.person_credits;" (click)="detailAuthor(element)" >{{element}}
					<mat-divider></mat-divider>
				</mat-list-item>
			</mat-list>
		  </mat-expansion-panel>


		</mat-accordion>

	  </div>


</body>
</html>
