<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h1> Welcome to About Page!</h1>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
	
	      <!-- <li class="nav-item">
	        <a class="nav-link" routerLink="/splash">Home</a>
		  </li> -->
		  <li class="nav-item">
	        <a class="nav-link" routerLink="/issues">Go Back</a>
          </li>
	    </ul>
	  </div>
    </nav>
    <div>
<!--         <h3>Welcome to the Issue1 Page</h3>
 -->    <p>Title: Adventures of Captain America (1991) #2</p>
        <p>Issue Number: 2</p>
        <p>Description: Cap's war against fascism begins at last! Watch as Steve Rogers and Bucky Barnes meet for the first time! Marvel as Cap dons his costume and takes up his original shield!"</p>
        <p>Modified: 2018-02-15 15:31:54</p>
        <p>Creators:</p>
        <table>
		  <tr>
		    <th>Name</th>
		    <th>Role</th>
		  </tr>
		  <tr>
		    <td>Terry Kevin Austin</td>
		    <td>Inker</td>
		  </tr>
		  <tr>
		    <td>Kevin Maguire</td>
		    <td>Penciller (cover)</td>
		  </tr>
		  <tr>
		    <td>Paul Mounts</td>
		    <td>Colorist</td>
		  </tr>
		  <tr>
		    <td>Fabian Nicieza</td>
		    <td>Writer</td>
		  </tr>
		  <tr>
		    <td>Richard Starkings</td>
		    <td>Letterer</td>
		  </tr>
		</table>
		
		<p>Characters: Bucky, Captain America, Red Skull</p>
    </div>
    
<!--     <select id="myselect" onchange="change_myselect(this.value)">
	  	<option value="">Choose an option:</option>
	  	<option value="customers">Customers</option>
	  	<option value="products">Products</option>
	  	<option value="suppliers">Suppliers</option>
	</select>

	<p id="demo">hey</p>
	</div>
	<script>
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
		  if (this.readyState == 4 && this.status == 200) {
		    var myObj = JSON.parse(this.responseText);
		    document.getElementById("demo").innerHTML = myObj.creators;
		  }
		};
		xmlhttp.open("GET", "/backend/Issue/captain-america-issue.json", true);
		xmlhttp.send();
	</script>
 -->

</body>
</html>


    
