<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h1> Welcome to About Page!</h1>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
	
	      <!-- <li class="nav-item">
	        <a class="nav-link" routerLink="/splash">Home</a>
        </li> -->
        <li class="nav-item">
	        <a class="nav-link" routerLink="/characters">Go Back</a>
        </li>
       
	    </ul>
	  </div>
    </nav>
    <div>
        <h4>Captain America</h4>
        <p>Vowing to serve his country any way he could, young Steve Rogers took the super soldier serum to become America's one-man army. Fighting for the red, white and blue for over 60 years, Captain America is the living, breathing symbol of freedom and liberty.</p>
        <img src="https://imgc.allpostersimages.com/img/print/u-g-F89FO80.jpg?w=900&h=900&p=0" style="width:20%">
        <p>Appeared on:</p>
        <table>
		  <tr>
		    <th>Comics</th>
		    <th>Series</th>
		    <th>Events</th>
		  </tr>
		  <tr>
		    <td>A+X (2012) #1, 4, 9</td>
		    <td>A+X (2012 - 2014)</td>
		    <td>Acts of Vengeance!</td>
		  </tr>
		  <tr>
		    <td>A-Next (1998) #2-12</td>
		    <td>A-Next (1998 - 1999)</td>
		    <td>Age of Ultron</td>
		  </tr>
		  <tr>
		    <td>Adventures of Captain America (1991) #1-4</td>
		    <td>Adventures of Captain America (1991 - 1992)</td>
		    <td>Age of X</td>
		  </tr>
		  <tr>
		    <td>Age of Apocalypse (2011) #2 (Avengers Art Appreciation Variant)</td>
		    <td>Age of Apocalypse (2011 - 2013)</td>
		    <td>Armor Wars</td>
		  </tr>
		  <tr>
		    <td>Age of Heroes (2010) #1</td>
		    <td>Age of Heroes (2010)</td>
		    <td>Avengers Disassembled</td>
		  </tr>
		  <tr>
		    <td></td>
		    <td>AGE OF HEROES TPB (2011)</td>
		    <td>Avengers VS X-Men</td>
		  </tr>
		  <tr>
		    <td></td>
		    <td>All Winners Comics 70th Anniversary Special (2009)</td>
		    <td>Axis</td>
		  </tr>
		  <tr>
		    <td></td>
		    <td>All-New Wolverine (2015 - 2018)</td>
		    <td>Chaos War</td>
		  </tr>
		  <tr>
		    <td></td>
		    <td>All-Winners Squad: Band of Heroes (2011)</td>
		    <td>Civil War</td>
		  </tr>
		  <tr>
		    <td></td>
		    <td>Amazing Spider-Man Annual (1964 - 2018)</td>
		    <td>Fall of the Mutants</td>
		  </tr>
		  <tr>
		    <td></td>
		    <td>AMAZING SPIDER-MAN VOL. 10: NEW AVENGERS TPB (2005)</td>
		    <td>Infinity War</td>
		  </tr>
		  <tr>
		    <td></td>
		    <td>Annihilators: Earthfall (2011)</td>
		    <td>Maximum Carnage</td>
		  </tr>
		  <tr>
		    <td></td>
		    <td>Ant-Man and the Wasp Adventures (2018)</td>
		    <td>Monsters Unleashed</td>
		  </tr>
		  <tr>
		    <td></td>
		    <td>Art of Marvel Movies: The Art of Captain America - The First Avenger (2011 - Present)</td>
		    <td></td>
		  </tr>
		  
		</table>
    </div>
    

