<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a id="home-nav" class="navbar-brand" href="#" style="font-family:'Audiowide'">Comic Book DB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a id="char-nav" class="nav-link" routerLink="/characters">Characters</a>
        </li>
        <li class="nav-item ">
          <a id="issues-nav" class="nav-link" routerLink="/issues">Issues</a>
        </li>
        <li class="nav-item ">
          <a id="authors-nav" class="nav-link" routerLink="/authors">Authors</a>
        </li>
        <li class="nav-item ">
          <a id="about-nav" class="nav-link" routerLink="/about">About</a>
        </li>
      </ul>
    </div>
    <app-search-bar (searched)="search($event)" [model]="searchType"></app-search-bar>
  </nav>
