<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
<!-- CSS Stuff -->
<body>
	<h6> Welcome to Author Page!</h6>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#" style="font-family:'Audiowide'">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
			<li class="nav-item ">
				<a class="nav-link" routerLink="/characters">Characters</a>
			</li>
			<li class="nav-item ">
			  <a class="nav-link" routerLink="/issues">Issues</a>
			</li>
			<li class="nav-item ">
			  <a class="nav-link" routerLink="/authors">Authors</a>
			</li>
			<li class="nav-item ">
			  <a class="nav-link" routerLink="/about">About</a>
			</li>
		  </ul>
	  </div>
	  <app-search-bar [model]="searchModel" (searched)="search($event)"></app-search-bar>
    </nav>


  <!-- <div  class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell id="authors-name" *matCellDef="let author"> {{author.name}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="Hometown">
        <mat-header-cell *matHeaderCellDef> Hometown </mat-header-cell>
        <mat-cell *matCellDef="let author"> {{author.hometown}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="Characters">
        <mat-header-cell *matHeaderCellDef> Charater Affiated </mat-header-cell>
        <mat-cell *matCellDef="let author"> {{author.characters[0]}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="Issues">
        <mat-header-cell *matHeaderCellDef> Issue Affiliated </mat-header-cell>
        <mat-cell *matCellDef="let author"> {{author.issues[0]}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row id="authors-row" *matRowDef="let row; columns: displayedColumns" (click)="detailAuthor(row)"></mat-row>
    </mat-table>
    <div class="nav-buttons" style="float: right;">
      <button id="authors-backbutton" mat-raised-button *ngIf="currPage > 1" (click)="backPage()"><</button>
      <button id="authors-fwdbutton" mat-raised-button *ngIf="currPage < totalPages" (click)="forwardPage()">></button>
    </div>
  </div> -->

  <div style="margin-top: 58px;text-align:center">
  	<h3>The world's most famous comic Authors are presented here!<br>
	  Click on an author to see their full information.</h3>
    <hr style="height:3px; border:none; color:rgb(60,90,180); background-color:skyblue; width:60%; text-align:center; margin: 0 auto">
  </div>
  
  <br>
  <div class="row"> 
  	<div class="filter">
  	    <app-filter (filtered)="applyFilter($event)"></app-filter>
  	</div>
  	<div class="sorting">
	  	<div id="sortAuthorsButtons" class="Column">
	      <button id="chars-sortAZ-button" mat-flat-button color="primary" (click)="SortAZ()"><b>Sort Ascending</b></button>
	      <button id="chars-sortZA-button" mat-flat-button color="primary" (click)="SortZA()"><b>Sort Descending</b></button>
	    </div>
  	</div>
  </div>
  <br>

  <!-- <div id="authors-under-Nav-Div" class ="Row">

    <app-filter (filtered)="applyFilter($event)"></app-filter>


	<div id="authorsCaption"class="Column">
	  <p></p>
	 </div>

	<div id="sortAuthorsButtons"class="Column">
	  <br>
	  <button id="authors-sortAZ-button" mat-flat-button color="primary" (click)="SortAZ()"><b>Sort Ascending</b></button>
	  <button id="authors-sortZA-button" mat-flat-button color="primary" (click)="SortZA()"><b>Sort Descending</b></button>
	</div>

  </div> -->

  <div>

		<mat-grid-list cols="3" rowHeight="2:1" gutterSize="3px">
		  <mat-grid-tile *ngFor="let author of authors" (click)="detailAuthor(author)">
			<div class="author-card">

			  <h3><strong>{{author.name}}</strong></h3>
			  <p><strong>Hometown</strong>: {{author.hometown}}<br>
			    <strong>Character Affiliated</strong>: {{author.characters[0]}}<br>
			    <strong>Issue</strong>: {{author.issues[0]}}
			  </p>
			</div>

		</mat-grid-tile>
		</mat-grid-list>

	  </div>
		<div class="nav-buttons" style="float: right;">
		  <button id="char-backbutton" mat-raised-button *ngIf="currPage > 1" (click)="backPage()">&laquo; Previous</button>
		  <button id="char-fwdbutton" mat-raised-button *ngIf="currPage < totalPages" (click)="forwardPage()">Next &raquo;</button>
		</div>

</body>
</html>
