mat-grid-tile {
    background: lightblue;
  }
mat-grid-tile:hover {
    background-color: #c6e2f0;
  }


  .Row
  {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-spacing: 10px;
  }
  .Column
  {
      display: table-cell;
  
  }

  #sortAuthorsButtons{
    float:right;
   
  }
  
  .author-card {
   width: 300px;
   height: auto;
  }

  .filter {
    width: 60%;
    float: left;
  }
  
  .sorting {
  	width: 40%;
  	float: left;  	
  }
  
  .row {
  	margin-left: 10px;
  	margin-right: 10px;
  }