<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h1> Welcome to Author Page!</h1>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
			<li class="nav-item ">
				<a class="nav-link" routerLink="/characters">Characters</a>
			</li>
			<li class="nav-item ">
			  <a class="nav-link" routerLink="/issues">Issues</a>
			</li>
			<li class="nav-item ">
			  <a class="nav-link" routerLink="/authors">Authors</a>
			</li>
			<li class="nav-item ">
			  <a class="nav-link" routerLink="/about">About</a>
			</li>
		  </ul>
	  </div>
	  <app-search-bar [model]="searchModel" (searched)="search($event)"></app-search-bar>
  </nav>


  <!-- <div  class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell id="authors-name" *matCellDef="let author"> {{author.name}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="Hometown">
        <mat-header-cell *matHeaderCellDef> Hometown </mat-header-cell>
        <mat-cell *matCellDef="let author"> {{author.hometown}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="Characters">
        <mat-header-cell *matHeaderCellDef> Charater Affiated </mat-header-cell>
        <mat-cell *matCellDef="let author"> {{author.characters[0]}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="Issues">
        <mat-header-cell *matHeaderCellDef> Issue Affiliated </mat-header-cell>
        <mat-cell *matCellDef="let author"> {{author.issues[0]}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row id="authors-row" *matRowDef="let row; columns: displayedColumns" (click)="detailAuthor(row)"></mat-row>
    </mat-table>
    <div class="nav-buttons" style="float: right;">
      <button id="authors-backbutton" mat-raised-button *ngIf="currPage > 1" (click)="backPage()"><</button>
      <button id="authors-fwdbutton" mat-raised-button *ngIf="currPage < totalPages" (click)="forwardPage()">></button>
    </div>
  </div> -->

  <div id="authors-under-Nav-Div" class ="Row">

	<div id="authorsFilterSet" class="Column">
		  <form class="form-inline">
			<input class="form-control mr-sm-2" type="filter" placeholder="Filter Authors" aria-label="Filter">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
		  </form>
	</div>


	<div id="authorsCaption"class="Column">
	  <p>The world's most famous comic Authors are presented here!<br>
	  Click on an author to see their full information.</p>
	 </div>

	<div id="sortAuthorsButtons"class="Column">
	  <br>
	  <button id="authors-sortAZ-button" mat-flat-button color="primary" (click)="SortAZ()"><b>Sort Ascending</b></button>
	  <button id="authors-sortZA-button" mat-flat-button color="primary" (click)="SortZA()"><b>Sort Descending</b></button>
	</div>

  </div>

  <div>

		<mat-grid-list cols="3" rowHeight="3:1">
		  <mat-grid-tile *ngFor="let author of authors" (click)="detailAuthor(author)">


			  <p>{{author.name}}<br>
				Hometown: {{author.hometown}}<br>
			   Character Affiliated: {{author.characters[0]}}<br>
			  Issue: {{author.issues[0]}}
			  </p>


		</mat-grid-tile>
		</mat-grid-list>

	  </div>
		<div class="nav-buttons" style="float: right;">
		  <button id="char-backbutton" mat-raised-button *ngIf="currPage > 1" (click)="backPage()"><</button>
		  <button id="char-fwdbutton" mat-raised-button *ngIf="currPage < totalPages" (click)="forwardPage()">></button>
		</div>

</body>
</html>
