<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>

<body>
	<h6> Welcome to Author Page!</h6>
	<app-navigation-bar (searched)="search($event)"></app-navigation-bar>

  <div style="margin-top: 58px;text-align:center">
  	<h3>The world's most famous comic Authors are presented here!<br>
	  Click on an author to see their full information.</h3>
    <hr style="height:3px; border:none; color:rgb(60,90,180); background-color:skyblue; width:60%; text-align:center; margin: 0 auto">
  </div>

  <br>
  <div class="row">
  	<div class="filter">
  	    <app-filter (filtered)="applyFilter($event)"></app-filter>
  	</div>
  	<div class="sorting">
	  	<div id="sortAuthorsButtons" class="Column">
	      <button id="chars-sortAZ-button" mat-flat-button color="primary" (click)="SortAZ()"><b>Sort Ascending</b></button>
	      <button id="chars-sortZA-button" mat-flat-button color="primary" (click)="SortZA()"><b>Sort Descending</b></button>
	    </div>
  	</div>
  </div>
  <br>

  <div>

		<mat-grid-list cols="3" rowHeight="2:1" gutterSize="3px">
		  <mat-grid-tile *ngFor="let author of authors" (click)="detailAuthor(author)">
			<div class="author-card">

			  <h3><strong>{{author.name}}</strong></h3>
			  <p><strong>Hometown</strong>: {{author.hometown}}<br>
			    <strong>Character Affiliated</strong>: {{author.characters[0]}}<br>
			    <strong>Issue</strong>: {{author.issues[0]}}
			  </p>
			</div>

		</mat-grid-tile>
		</mat-grid-list>

	  </div>
		<div class="nav-buttons" style="float: right;">
		  <button id="char-backbutton" mat-raised-button *ngIf="currPage > 1" (click)="backPage()">&laquo; Previous</button>
		  <button id="char-fwdbutton" mat-raised-button *ngIf="currPage < totalPages" (click)="forwardPage()">Next &raquo;</button>
		</div>

</body>
</html>
