<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h1> Welcome to About Page!</h1>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
			<li class="nav-item ">
				<a class="nav-link" routerLink="/characters">Characters</a>
			</li>
			<li class="nav-item ">
			  <a class="nav-link" routerLink="/issues">Issues</a>
			</li>
			<li class="nav-item ">
			  <a class="nav-link" routerLink="/authors">Authors</a>
			</li>
			<li class="nav-item ">
			  <a class="nav-link" routerLink="/about">About</a>
			</li>

		  </ul>
		  <app-search-bar [model]="searchModel" (searched)="search($event)"></app-search-bar>
	  </div>
    </nav>

	<!-- <div  class="mat-elevation-z8">

		<mat-table id="issue-table" [dataSource]="dataSource">

			<ng-container matColumnDef="Title">
			  <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
			  <mat-cell id="issues-name" *matCellDef="let issue"> {{issue.name}} </mat-cell>
			</ng-container>


			<ng-container matColumnDef="Cover Date">
			  <mat-header-cell *matHeaderCellDef> Cover Date </mat-header-cell>
			  <mat-cell *matCellDef="let issue"> {{issue.cover_date}} </mat-cell>
			</ng-container>


			<ng-container matColumnDef="Main Character">
			  <mat-header-cell *matHeaderCellDef> Main Character </mat-header-cell>
			  <mat-cell *matCellDef="let issue"> {{issue.character_credits[0]}} </mat-cell>
			</ng-container>


			<ng-container matColumnDef="Author">
			  <mat-header-cell *matHeaderCellDef> Authors Affliated </mat-header-cell>
			  <mat-cell *matCellDef="let issue"> {{issue.person_credits[0]}} </mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row id="issues-row" *matRowDef="let row; columns: displayedColumns" (click)="detailIssue(row)"></mat-row>
		  </mat-table>
    <div class="nav-buttons" style="float: right;">
      <button id="issues-backbutton" mat-raised-button *ngIf="currPage > 1" (click)="backPage()"><</button>
      <button id="issues-fwdbutton"mat-raised-button *ngIf="currPage < totalPages" (click)="forwardPage()">></button>
    </div>
	</div> -->


	<div id="issues-under-Nav-Div" class ="Row">

		<div id="issuesFilterSet" class="Column">
			  <form class="form-inline">
				<input class="form-control mr-sm-2" type="filter" placeholder="Filter Issues" aria-label="Filter">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
			  </form>
		</div>


		<div id="issuesCaption"class="Column">
		  <p>The world's most famous Issues are presented here!<br>
		  Click on an issue to see their full information.</p>
		 </div>

		<div id="sortIssuesButtons"class="Column">
		  <br>
		  <button id="issues-sortAZ-button" mat-flat-button color="primary" (click)="SortAZ()"><b>Sort Ascending</b></button>
		  <button id="issues-sortZA-button" mat-flat-button color="primary" (click)="SortZA()"><b>Sort Descending</b></button>
		</div>


	  </div>
	<div>
		<mat-grid-list cols="3" rowHeight="3:1">
		  <mat-grid-tile *ngFor="let issue of issues" (click)="detailIssue(issue)">


			  <p>{{issue.name}}<br>
				Cover Date: {{issue.cover_date}}<br>
			   Main Character: {{issue.character_credits[0]}}<br>
			   Author: {{issue.person_credits[0]}}
			  </p>


		</mat-grid-tile>
		</mat-grid-list>

	  </div>
		<div class="nav-buttons" style="float: right;">
		  <button id="char-backbutton" mat-raised-button *ngIf="currPage > 1" (click)="backPage()"><</button>
		  <button id="char-fwdbutton" mat-raised-button *ngIf="currPage < totalPages" (click)="forwardPage()">></button>
		</div>




</body>
</html>
