<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>

<body>
	<h6> Welcome to About Page!</h6>
	<app-navigation-bar (searched)="search($event)"></app-navigation-bar>

	<div style="margin-top: 58px;text-align:center">
	  	<h3>The world's most famous Issues are presented here!<br>
		  Click on an issue to see their full information.</h3>
	    <hr style="height:3px; border:none; color:rgb(60,90,180); background-color:skyblue; width:60%; text-align:center; margin: 0 auto">
  	</div>

  	<br>
	  <div class="row">
	  	<div class="filter">
	  	    <app-filter (filtered)="applyFilter($event)"></app-filter>
	  	</div>
	  	<div class="sorting">
		  	<div id="sortIssuesButtons" class="Column">
		      <button id="chars-sortAZ-button" mat-flat-button color="primary" (click)="SortAZ()"><b>Sort Ascending</b></button>
		      <button id="chars-sortZA-button" mat-flat-button color="primary" (click)="SortZA()"><b>Sort Descending</b></button>
		    </div>
	  	</div>
	  </div>
	<br>


	<div>
		<mat-grid-list cols="3" rowHeight="2:1" gutterSize="3px">
		  <mat-grid-tile *ngFor="let issue of issues" (click)="detailIssue(issue)">

			<div class="issue-card">
			  <h3><strong>{{issue.name}}</strong></h3>
			  <p><strong>Cover Date</strong>: {{issue.cover_date}}<br>
			    <strong>Main Character</strong>: {{issue.character_credits[0]}}<br>
			    <strong>Author</strong>: {{issue.person_credits[0]}}
			  </p>
			</div>

		 </mat-grid-tile>
		</mat-grid-list>

	  </div>
		<div class="nav-buttons" style="float: right;">
		  <button id="char-backbutton" mat-raised-button *ngIf="currPage > 1" (click)="backPage()">&laquo; Previous</button>
		  <button id="char-fwdbutton" mat-raised-button *ngIf="currPage < totalPages" (click)="forwardPage()">Next &raquo;</button>
		</div>

</body>
</html>
