<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h1> Welcome to About Page!</h1>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">Comic Book DB</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
	
	      <li class="nav-item">
	        <a class="nav-link" routerLink="/splash">Home</a>
		  </li>
		  <li class="nav-item">
	        <a class="nav-link" routerLink="/issues/issue1">Issue1</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" routerLink="/issues/issue2">Issue2</a>
	      </li>
	      <li class="nav-item">
			<a class="nav-link" routerLink="/issues/issue3">Issue3</a>
	      </li>
	      
	    </ul>
	  </div>
    </nav>
    <div>
        <h1>Welcome to the Issues Page</h1>
    </div>
    

  
  
  
</body>
</html>