<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h1> Welcome to About Page!</h1>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
	
	      <!-- <li class="nav-item">
	        <a class="nav-link" routerLink="/splash">Home</a>
        </li> -->
        <li class="nav-item">
	        <a class="nav-link" routerLink="/authors">Main</a>
        </li>
        <li class="nav-item">
	        <a class="nav-link" routerLink="/authors/author1">Fabian Nicieza</a>
        </li>
        <li class="nav-item">
	        <a class="nav-link" routerLink="/authors/author2">Anthony Flamini</a>
        </li>
        <li class="nav-item">
	        <a class="nav-link" routerLink="/authors/author3">Dan Slott</a>
        </li>
	      
	    </ul>
	  </div>
    </nav>
    <div>
        <h3>Fabian Nicieza</h3>
        <p>Date of birth: December 31, 1961</p>
        <p>American comic book writer and editor who is best known for his work on Marvel titles such as X-Men, X-Force, New Warriors, Cable, Deadpool, and Thunderbolts.</p>
        <img src="https://img.purch.com/o/aHR0cDovL3d3dy5uZXdzYXJhbWEuY29tL2ltYWdlcy9pLzAwMC8yNzMvMjc4L2kwMi9GYWJpYW5OaWNpZXphLmpwZw==">
    </div>
