<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Stuff -->
<body>
	<h6>Welcome to Characters Page!</h6>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
			<li class="nav-item ">
				<a class="nav-link" routerLink="/characters">Characters</a>
			</li>
			<li class="nav-item ">
			  <a class="nav-link" routerLink="/issues">Issues</a>
			</li>
			<li class="nav-item ">
			  <a class="nav-link" routerLink="/authors">Authors</a>
			</li>
			<li class="nav-item ">
			  <a class="nav-link" routerLink="/about">About</a>
			</li>
		  </ul>
    </div>
    <app-search-bar [model]="searchModel" (searched)="search($event)"></app-search-bar>
  </nav>

  <div style="margin-top: 58px;text-align:center">
  	<h3>The world's most famous characters are presented here!<br>
      Click on a character to see their full information.</h3>
    <hr style="height:3px; border:none; color:rgb(60,90,180); background-color:skyblue; width:60%; text-align:center; margin: 0 auto">
  </div>

  <div id="chars-under-Nav-Div" class ="Row">

    <app-filter (filtered)="applyFilter($event)"></app-filter>

    <div id="charsCaption" class="Column" style="padding: 20px">
      <p> </p>
    </div>

    <div id="sortCharactersButtons" class="Column">
      <br>
      <button id="chars-sortAZ-button" mat-flat-button color="primary" (click)="SortAZ()"><b>Sort Ascending</b></button>
      <button id="chars-sortZA-button" mat-flat-button color="primary" (click)="SortZA()"><b>Sort Descending</b></button>
    </div>


  </div>


  <div>
    <mat-grid-list cols="3" rowHeight="2:1" gutterSize="3px">
      <mat-grid-tile *ngFor="let character of characters" (click)="detailCharacter(character)">
		<div class="character-card">

          <h3><strong>{{character.name}}</strong></h3>
           <p><strong>Real Name</strong>: {{character.real_name}}<br>
            <strong>First Issue</strong>: {{character.first_appeared_in_issue}}<br>
            <strong>Author</strong>: {{character.creators[0]}}
          </p>
		</div>

    </mat-grid-tile>
    </mat-grid-list>

  </div>
  <div class="nav-buttons" style="float: right;">
    <button id="char-backbutton" mat-raised-button *ngIf="currPage > 1" (click)="backPage()"><</button>
    <button id="char-fwdbutton" mat-raised-button *ngIf="currPage < totalPages" (click)="forwardPage()">></button>
  </div>


</body>
</html>
