mat-grid-tile {
    background: lightblue;
  }
mat-grid-tile:hover {
    background-color: lightcoral;
  }
  .Row
  {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-spacing: 10px;
  }
  .Column
  {
      display: table-cell;
  
  }

  #sortCharactersButtons{
    float:right;
   
  }
  
  .character-card{
    width: 300px;
    height: auto;
  }